@font-face {
	font-family: 'roboto';
	src: url('../fonts/Roboto-Regular.ttf');
}

body {
	font-family: 'roboto';
}

/* Styling Header */
#header .navbar-inverse {
	border-radius: 0;
	background-color: #1470FF;
	color: #fff;
	border: 0;
	border-bottom: 1px solid green;
}

#header .navbar-inverse a {
	color: #fff;
}

#header .navbar-inverse a:hover,
#header .navbar-inverse a:focus {
	background-color: #1727FF;
}

